<launch>
   <include file="$(find riptide_estimation)/launch/riptide_imu_transform.launch" />
   <include file="$(find riptide_estimation)/launch/extended_kalman_filter.launch" />
   <node name="joy_node" pkg="joy" type="joy_node"/>
   <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure"/>
   <node name="joy_set" pkg="riptide_navigation" type="joy_set"/>
   <node name="thrust_cal" pkg="riptide_navigation" type="thrust_cal"/>
   <node name="thrust_mapper" pkg="riptide_navigation" type="thrust_mapper"/>
   <node name="position_controller" pkg="riptide_navigation" type="position_controller"/>


</launch>
